.add-user-button {
	float: left;
}

.stripped {
	background-color: lightblue;
}

@media only screen and (max-width: 500px) {
	.add-user-button button {
		width: 100%;
	}
	.admin-messages {
		margin-top: 5px;
		text-align: center;
	}
	.delete-user-button {
		float: right;
		margin-right: 1px;
	}
	.delete-user-button button {
		width: 100%;
		border-radius: 20px;
		margin: 2px 0px 2px 0px;
	}
	.logout-button-lg {
		display: none;
	}
	.logout-button-xs button {
		width: 100%;
	}
	.open-editor-button {
		float: left;
		margin-left: -1px;
	}
	.open-editor-button button {
		width: 100%;
		border-radius: 20px;
		margin: 2px 0px 2px 0px;
	}
	.stripped {
		border-radius: 20px;
	}
	.table-header-row {
		display: none;
	}
	.table-results-row {
		display: none;
	}
}

@media only screen and (min-width: 500px) {
	.delete-user-button {
		float: right;
		margin-right: 59px;
	}
	.header-padding {
		padding: 5px 0px 5px 0px;
	}
	.logout-button-lg {
		float: right;
	}
	.logout-button-xs {
		display: none;
	}
	.open-editor-button {
		float: left;
		margin-left: -16px;
	}
	.rows-padding {
		padding: 5px 0px 5px 0px;
	}
	.rows-padding div {
		word-wrap: break-word;
	}
	.table-header-row div {
		white-space: nowrap;
	}
	.table-results-row-xs {
		display: none;
	}
}