[class*="col-"] {
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin-right: -20px;
}

.modal-body span {
	width: 205px;
}

#edit-password-messages {
	word-wrap: break-word;
	color: red;
}

.edit-user-messages {
	word-wrap: break-word;
	color: red;
}

.input-group input {
	border: 1px solid lightblue;
}

.input-group {
	margin-top: 10px;
	margin-bottom: 10px;
}

@media only screen and (max-width: 500px) {
	.change-pas-modal-lg {
		display: none;
	}
	.editor-actions button {
		width: 100%;
		margin-bottom: 5px;
	}
	.edit-user-inputs-lg {
		display: none;
	}
	.edit-user-messages {
		text-align: left;
	}
	.form-group span {
		text-align: center;
	}
}

@media only screen and (min-width: 500px) {
	.change-pas-modal-xs {
		display: none;
	}
	.editor-actions {
		margin-left: -1.3%;
	}
	.edit-user-inputs-lg {
		margin-left: 30%;
	}
	.edit-user-inputs-xs {
		display: none;
	}
	.edit-user-messages {
		margin-left: -2%;
	}
	.input-group-addon {
		width: 50%;
	}
}