[class*="col-"] {
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin-right: -20px;
}

.err {
	color: red;
}

.label {
	font-size: 15px;
}

.spacer {
	margin-top: 6px;
	margin-bottom: 6px;
}

@media only screen and (max-width: 500px) {
	.label {
		word-wrap: break-word;
	}
}